@import "../../mainColor";
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $main;
  opacity: 0.93;
  .logo {
    height: 8rem;
    width: auto;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      position: relative;
      font-size: 1.1rem;
      margin: 0.5rem 1rem;
      color: $second;
      list-style: none;
      a {
        cursor: pointer;
      }
      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 2.5px;
        width: 0;
        background-color: $third;
        transition: 0.3s all;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
}
